{%- doc -%}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render
  @param {object} [block] - The block

  @example
  {% render 'button', link: '/collections/all' %}
{%- enddoc -%}

{% assign block_settings = block.settings %}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    size-style
    {{ block_settings.style_class }}
    {{ block_settings.style_class }}--{{ block.id }}
  "
  style="{% render 'size-style', settings: block_settings %}
    {%- if block_settings.padding-block-start != blank -%}padding-top: {{ block_settings.padding-block-start }}px;{%- endif -%}
    {%- if block_settings.padding-block-end != blank -%}padding-bottom: {{ block_settings.padding-block-end }}px;{%- endif -%}
    {%- if block_settings.padding-inline-start != blank -%}padding-left: {{ block_settings.padding-inline-start }}px;{%- endif -%}
    {%- if block_settings.padding-inline-end != blank -%}padding-right: {{ block_settings.padding-inline-end }}px;{%- endif -%}
    {%- if block_settings.font_size != blank -%}--font-size: {{ block_settings.font_size }}px;{%- endif -%}
    {%- if block_settings.font_size_mobile != blank -%}--font-size-mobile: {{ block_settings.font_size_mobile }}px;{%- endif -%}
  "
  {%- if block_settings.open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  {{ block_settings.label }}
</a>

{% stylesheet %}
  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--color-primary-hover);
      text-decoration-color: transparent;
    }
  }

  .button,
  .button-secondary,
  .link {
    font-size: var(--font-size, inherit);
  }

  @media screen and (max-width: 749px) {
    .button,
    .button-secondary,
    .link {
      font-size: var(--font-size-mobile, var(--font-size, inherit));
    }
  }
{% endstylesheet %}
