{%- doc -%}
  Renders featured mega menu layout with left links and right featured cards (collections or pages).

  @param {object} parent_link - Parent navigation link containing submenu links.
  @param {object} block_settings - Header menu block settings (defaults).
  @param {object} [dropdown_block] - Optional per-dropdown block overriding featured cards.
  @param {number} [image_border_radius] - Border radius for collection card images.
  @param {object} [section] - Section object used for image loading behavior.
{%- enddoc -%}

{% liquid
  assign menu_settings = block_settings

  if dropdown_block != blank
    assign menu_settings = dropdown_block.settings
  endif

  assign cta_label = menu_settings.featured_collections_cta_label | default: block_settings.featured_collections_cta_label
  assign cta_link = menu_settings.featured_collections_cta_link | default: block_settings.featured_collections_cta_link

  assign card_aspect_ratio = block_settings.featured_collections_aspect_ratio | default: '16 / 9'
  if dropdown_block != blank and dropdown_block.settings.featured_collections_aspect_ratio != blank
    assign card_aspect_ratio = dropdown_block.settings.featured_collections_aspect_ratio
  endif
%}

{%- capture image_sizes -%}
  {%- render 'util-mega-menu-img-sizes-attr',
    menu_content_type: 'featured_collections',
    settings: section.settings
  -%}
{%- endcapture -%}

<div class="mega-menu-featured-collections">
  <div class="mega-menu-featured-collections__links">
    <ul class="mega-menu-featured-collections__links-list list-unstyled">
      {% for link in parent_link.links %}
        <li class="mega-menu-featured-collections__links-item">
          <a href="{{ link.url }}" class="mega-menu-featured-collections__link">
            <span class="wrap-text">{{ link.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if cta_label != blank and cta_link != blank %}
      <a href="{{ cta_link }}" class="button mega-menu-featured-collections__cta">
        <span class="button__label">{{ cta_label | escape }}</span>
      </a>
    {% endif %}
  </div>

  <ul
    class="mega-menu-featured-collections__cards list-unstyled"
    style="--resource-card-corner-radius: {{ image_border_radius }}px;"
  >
    {% render 'mega-menu-featured-card',
      slot: 1,
      menu_settings: menu_settings,
      block_settings: block_settings,
      image_aspect_ratio: card_aspect_ratio,
      image_sizes: image_sizes
    %}
    {% render 'mega-menu-featured-card',
      slot: 2,
      menu_settings: menu_settings,
      block_settings: block_settings,
      image_aspect_ratio: card_aspect_ratio,
      image_sizes: image_sizes
    %}
    {% render 'mega-menu-featured-card',
      slot: 3,
      menu_settings: menu_settings,
      block_settings: block_settings,
      image_aspect_ratio: card_aspect_ratio,
      image_sizes: image_sizes
    %}
  </ul>
</div>
