

{% liquid
  assign media_class_modifier = 'media-with-content--' | append: section.settings.media_width

  if section.settings.extend_media and section.settings.section_width == 'page-width'
    assign media_class_modifier = media_class_modifier | append: ' media-with-content--media-extend'
  endif

  if section.settings.media_position == 'right'
    assign media_class_modifier = media_class_modifier | append: ' media-with-content--media-right'
  endif
%}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div
  class="section section--{{ section.settings.section_width }} disable-section-top-offset media-with-content color-{{ section.settings.color_scheme }} spacing-style {{ media_class_modifier }}"
  data-testid="media-with-content"
  style="
    {%- render 'spacing-style', settings: section.settings %}
    {% render 'border-override', settings: section.settings %}
    --media-height: {{ section.settings.media_height }};
    {%- case section.settings.media_height %}
      {% when '50svh' %}
        --media-height-mobile: 30svh;
      {% when '60svh' %}
        --media-height-mobile: 50svh;
      {% when '80svh' %}
        --media-height-mobile: 70svh;
      {% when '100svh' %}
        --media-height-mobile: 100svh;
      {% else %}
        --media-height-mobile: auto;
    {% endcase -%}

    {% if section.settings.media_height != 'auto' %}
     --section-preview-height: 600px;
     {% endif %}
  "
  {% if request.visual_preview_mode %}
    data-shopify-visual-preview
  {% endif %}
>
  {% content_for 'block', type: '_media-without-appearance', id: 'media' %}

  {% content_for 'block', type: '_content-without-appearance', id: 'content' %}
</div>



{% schema %}
{
  "name": "t:names.media_with_text",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "media_position",
      "label": "Media position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "media_width",
      "label": "Media width",
      "options": [
        {
          "value": "narrow",
          "label": "t:options.narrow"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "wide",
          "label": "t:options.wide"
        }
      ],
      "default": "wide"
    },
    {
      "type": "select",
      "id": "media_height",
      "label": "Media height",
      "options": [
        {
          "value": "auto",
          "label": "t:options.auto"
        },
        {
          "value": "50svh",
          "label": "t:options.small"
        },
        {
          "value": "60svh",
          "label": "t:options.medium"
        },
        {
          "value": "80svh",
          "label": "t:options.large"
        },
        {
          "value": "100svh",
          "label": "t:options.full_screen"
        }
      ],
      "default": "80svh"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "checkbox",
      "id": "extend_media",
      "label": "Extend media to screen edge",
      "default": true,
      "visible_if": "{{ section.settings.section_width == 'page-width' }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Colour scheme",
      "default": "scheme-3"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.editorial",
      "category": "t:categories.storytelling",
      "settings": {
        "media_width": "medium",
        "media_height": "60svh",
        "color_scheme": "scheme-4"
      },
      "blocks": {
        "media": {
          "type": "_media-without-appearance",
          "static": true
        },
        "content": {
          "type": "_content-without-appearance",
          "static": true,
          "settings": {
            "horizontal_alignment_flex_direction_column": "flex-start",
            "vertical_alignment_flex_direction_column": "space-between"
          },
          "blocks": {
            "caption": {
              "type": "text",
              "name": "t:names.caption",
              "settings": {
                "text": "t:html_defaults.bestseller",
                "type_preset": "h6"
              }
            },
            "group": {
              "type": "group",
              "settings": {
                "height": "fit"
              },
              "blocks": {
                "heading": {
                  "type": "text",
                  "name": "t:names.heading",
                  "settings": {
                    "text": "t:html_defaults.signature_products",
                    "type_preset": "h3"
                  }
                },
                "text": {
                  "type": "text",
                  "settings": {
                    "text": "t:html_defaults.made_with_care_extended",
                    "max_width": "narrow",
                    "type_preset": "rte"
                  }
                }
              },
              "block_order": ["heading", "text"]
            },
            "button": {
              "type": "button",
              "settings": {
                "label": "t:text_defaults.shop_now_button_label",
                "link": "shopify://collections/all",
                "style_class": "link"
              }
            }
          },
          "block_order": ["caption", "group", "button"]
        }
      }
    },
    {
      "name": "t:names.editorial_jumbo_text",
      "category": "t:categories.storytelling",
      "settings": {
        "media_position": "right",
        "media_width": "medium",
        "media_height": "60svh",
        "color_scheme": "scheme-3"
      },
      "blocks": {
        "media": {
          "type": "_media-without-appearance",
          "static": true
        },
        "content": {
          "type": "_content-without-appearance",
          "static": true,
          "settings": {
            "horizontal_alignment_flex_direction_column": "flex-start",
            "vertical_alignment_flex_direction_column": "flex-end"
          },
          "blocks": {
            "caption": {
              "type": "jumbo-text",
              "name": "t:names.jumbo_text",
              "settings": {
                "text": "t:text_defaults.up_the_ante",
                "font": "heading",
                "alignment": "right",
                "line_height": "0.8",
                "letter_spacing": "-0.03em",
                "case": "uppercase"
              }
            }
          },
          "block_order": ["caption"]
        }
      }
    }
  ]
}
{% endschema %}
